<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spector.beacon.spectorv1" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".SpectorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RangingActivity"
            android:label="@string/title_activity_ranging"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spector.beacon.spectorv1.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".BeaconManagement"
            android:label="@string/title_activity_beacon_management"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spector.beacon.spectorv1.MainActivity" />
        </activity>
        <activity
            android:name=".EnrollBeacon"
            android:label="@string/title_activity_enroll_beacon"
            android:parentActivityName=".BeaconManagement" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spector.beacon.spectorv1.BeaconManagement" />
        </activity>
        <activity
            android:name=".AssociatePatient"
            android:label="@string/title_activity_associate_patient"
            android:parentActivityName=".BeaconManagement" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spector.beacon.spectorv1.BeaconManagement" />
        </activity>
    </application>

</manifest>
